.ml-field vaadin-select,
.ml-field vaadin-select-item,
.ml-field vaadin-text-area { padding:0; }

.ml-single-field vaadin-select::part(input-field) {
	border-top-left-radius:0;
	border-bottom-left-radius: 0;
}

.ml-single-field vaadin-text-field::part(input-field) {
	border-top-right-radius:0;
	border-bottom-right-radius: 0;
}

.ml-multi-field vaadin-select::part(input-field) {
	border-bottom-left-radius:0;
	border-bottom-right-radius: 0;
}

.ml-multi-field vaadin-text-area::part(input-field) {
	border-top-right-radius: 0;
}

.ml-multi-field vaadin-select,
.ml-wysiwyg-field vaadin-select {
	padding-top: var(--lumo-space-xs);
}